In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' .
application_df = application_df.drop(columns=['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
from os import name
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
#How many name counts greater than 7
name_counts[name_counts>7]

PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
                                                                       ...
EMMAUS CALLING INC                                                        8
RURAL COMMUNITY HOUSING DEVELOPMENT CORPORATION                           8
NATL SOCIETY WOMEN DESCENDANTS OF THE ANCIENT & HONORABLE ARTILLERY       8
ASSOCIATES OF VIETNAM VETERANS OF AMERICA INC                             8
UNITED STATES FENCING ASSOCIATION                                         8
Name: NAME, Length: 284, dtype: int64

In [5]:
#Determine which values to replace if counts are less than or equal to 7
names_to_replace = list(name_counts[name_counts <=7].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other_Name")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other_Name                               20494
PARENT BOOSTER USA INC                    1260
TOPS CLUB INC                              765
UNITED STATES BOWLING CONGRESS INC         700
WASHINGTON STATE UNIVERSITY                492
                                         ...
EMMAUS CALLING INC                           8
SPIRITHORSE THERAPEUTIC RIDING CENTER        8
SOCIETY FOR CREATIVE ANACHRONISM INC         8
YOUNG PROFESSIONALS IN TRANSPORTATION        8
JAPANESE AMERICAN CITIZENS LEAGUE            8
Name: NAME, Length: 285, dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = application_df['APPLICATION_TYPE'].value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(type_counts.iloc[8:].index)
cutoff_value=528

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_cleaned = classification_counts.loc[classification_counts>1]
classification_cleaned

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts.iloc[5:].index)
cutoff_value_classifications = 1883

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other_classification")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000                   17326
C2000                    6074
C1200                    4837
Other_classification     2261
C3000                    1918
C2100                    1883
Name: CLASSIFICATION, dtype: int64

In [13]:
application_df.dtypes

NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)
dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI OMEGA,NAME_ALPHA PHI SIGMA,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train,X_test, y_train, y_test = train_test_split(X,y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features_num = len(X_train[0])
hidden_nodes_Layer_1 = 89
hidden_nodes_Layer_2 = 34
hidden_nodes_Layer_3 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_Layer_1, input_dim = input_features_num, activation = 'relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_Layer_2, activation = 'tanh'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = hidden_nodes_Layer_3, activation = 'sigmoid'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 89)                29281

 dense_1 (Dense)             (None, 34)                3060

 dense_2 (Dense)             (None, 8)                 280

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 32630 (127.46 KB)
Trainable params: 32630 (127.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.4886 - accuracy: 0.7678
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4498 - accuracy: 0.7888
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4424 - accuracy: 0.7879
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4374 - accuracy: 0.7905
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4344 - accuracy: 0.7902
Epoch 6/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4320 - accuracy: 0.7914
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4309 - accuracy: 0.7926
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4292 - accuracy: 0.7918
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7924
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4266 - accuracy: 0.7940
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4263 - accuracy: 0.7930
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4253 - accuracy: 0.7935
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4246 - accuracy: 0.7931
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4241 - accuracy: 0.7949
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4232 - accuracy: 0.7958
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4223 - accuracy: 0.7959
Epoch 17/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4216 - accuracy: 0.7957
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4209 - accuracy: 0.7965
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4210 - accuracy: 0.7956
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4199 - accuracy: 0.7962
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4193 - accuracy: 0.7962
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4187 - accuracy: 0.7974
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4185 - accuracy: 0.7971
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.7975
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4176 - accuracy: 0.7972
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4177 - accuracy: 0.7978
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7978
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4166 - accuracy: 0.7982
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4167 - accuracy: 0.7979
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.7992
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.7986
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7993
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4150 - accuracy: 0.7997
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4153 - accuracy: 0.7997
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4148 - accuracy: 0.7998
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4147 - accuracy: 0.8000
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4145 - accuracy: 0.7996
Epoch 38/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4146 - accuracy: 0.7991
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.7996
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.7989
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4141 - accuracy: 0.8007
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.7991
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4135 - accuracy: 0.8001
Epoch 44/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4133 - accuracy: 0.8006
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4133 - accuracy: 0.8009
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4133 - accuracy: 0.8000
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4130 - accuracy: 0.7997
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8009
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4130 - accuracy: 0.7998
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4129 - accuracy: 0.8003
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4125 - accuracy: 0.8000
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4123 - accuracy: 0.7996
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4124 - accuracy: 0.8011
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8005
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4118 - accuracy: 0.8008
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8011
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.8015
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8004
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4118 - accuracy: 0.8005
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4117 - accuracy: 0.8006
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8014
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4120 - accuracy: 0.8008
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8005
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4117 - accuracy: 0.8010
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8014
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4117 - accuracy: 0.8007
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8014
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8010
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8016
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8004
Epoch 71/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4113 - accuracy: 0.8010
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4111 - accuracy: 0.8020
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8019
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4113 - accuracy: 0.8010
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8015
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4117 - accuracy: 0.8017
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4113 - accuracy: 0.8018
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4116 - accuracy: 0.8015
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8017
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8012
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8009
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4109 - accuracy: 0.8015
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4115 - accuracy: 0.8012
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8022
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8017
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4110 - accuracy: 0.8005
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4108 - accuracy: 0.8019
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4108 - accuracy: 0.8011
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8014
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4107 - accuracy: 0.8018
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8011
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8015
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4106 - accuracy: 0.8013
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4109 - accuracy: 0.8017
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8008
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8019
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8024
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4110 - accuracy: 0.8001
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4112 - accuracy: 0.8009
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4112 - accuracy: 0.8018

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4595 - accuracy: 0.7880 - 624ms/epoch - 2ms/step
Loss: 0.45945829153060913, Accuracy: 0.7879883646965027

In [ ]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

# **An Alternative model we are running is the Random Forest Model - suited to classification probems**

In [21]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [23]:
#Create a random forest classifier
rf = RandomForestClassifier(n_estimators=100)

#fitting the model
rf = rf.fit(X_train_scaled, y_train)

#Evaluate the model
y_pred = rf.predict(X_test_scaled)
print(f" Random forest model accuracy : {accuracy_score(y_test,y_pred):.4f}")

 Random forest model accuracy : 0.7708